.header {
  background-color: #7e7171;
  background-image: linear-gradient(40deg,#ffd86f,#fc6262);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  div {
    padding: 0 0 0 60px;
  }
}
